### 1. Cargamos Librerias

Cargamos librerias para analisis de datos con python.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Markdown

```Python
str = "This is block level code"
print(str)
```

\$\sqrt{k}$

---

Esto es texto en ***negrita*** y esto es *italica*

- Python
- R
- Julia

<table border="1x solid black">
  <tr>
    <th>Col 1</th>
    <th>Col 2</th>
  </tr>
  <tr>
    <td style="background-color:#FF1744">1a</td>
    <td>2a</td>
  </tr>
  <tr>
    <td style="background-color:#00CD33">1b</td>
    <td>2b</td>
  </tr>
</table>

#### Python

In [22]:
# declaracion de varibles enteras

num1 = 45
num2 =25
res = num1 + num2
res

70

In [23]:
# declaracion de variables string

mi_str = "Esto es un string"
mi_str

'Esto es un string'

In [24]:
mi_str = 'Esto es un "string" de letras'
mi_str

'Esto es un "string" de letras'

In [25]:
type(mi_str)

str

In [26]:
type(num1)

int

In [27]:
temp = 35.5689
type(temp)

float

In [28]:
is_activated = False
type(is_activated)

bool

### 2. Despliegue

In [29]:
print("El resultado es: " + str(res))

El resultado es: 70

In [30]:
print("El resultado es: ", res)

El resultado es:  70

In [31]:
print("El resultado es: {}".format(res))

El resultado es: 70

In [32]:
print("La suma es {} + {} es: {}".format(num1, num2, res))

La suma es 45 + 25 es: 70

In [35]:
print(f"La suma de {num1} + {num2} es: {res}")

La suma de 45 + 25 es: 70

### 3. Operaciones Basicas de Numeros

In [49]:
num1 = 56
num2 = 5

suma = num1 + num2
resta = num1 - num2
mult = num1 * num2

div = num1 / num2
print("Division: ", div)

int_div = num1 // num2
print("Division Entera: ", int_div)

potencia = num1 ** num2
print("Potencia : ", potencia)

Division:  11.2
Division Entera:  11
Potencia :  550731776

In [55]:
import math

cuadrado = math.pow(num1, 2)
print("Potencia con Math: ", cuadrado)

raiz = math.sqrt(num1)
raiz = round(raiz, 4)
print("Raiz Cuadrada: ", raiz)

Potencia con Math:  3136.0
Raiz Cuadrada:  7.4833

### 4. Entrada de Datos

In [59]:
num1 = input("Ingrese su edad: ")
print("Su edad el siguiente ano es: ", int(num1) + 1)

Ingrese su edad:  25

Su edad el siguiente ano es:  26

In [62]:
int("123") # cast de str a int

123

In [64]:
float("123.123") # cast de str a float

123.123